<%- include('../partials/beginHeader.ejs') %>
<link rel="stylesheet" href="/styles/profile.css">
<title>49ersHangout - Profile</title>
<%- include('../partials/endHeader.ejs') %>

    <h2><%= user.firstName %> <%= user.lastName%></h2>

<%- include('../partials/footer.ejs') %>